.bgImg {
  color: white;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.bgImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("C:\Users\L7tec\Desktop\Nilisha Techabled DOCS\vscode\vscode\udemey\typescript-react-project\clonenetflixsigninpageapp\src\netflix.png");
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  z-index: 1;
}

.contentText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  flex-direction: column;
  position: relative; /* Ensure it's positioned relative for z-index */
  z-index: 2; /* Bring the content above the pseudo-element */
}

.TextLines {
  font-size: 0.875rem;
}

.TextPriceLines {
  font-size: 1.25rem;
}

.getStartedBttn {
  color: white;
  background-color: red;
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 12px 24px; /* Adjust padding */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.inputButtn {
  width: 55%;
  max-width: 300px;
  background-color: black;
  color: white;
  padding: 10px; /* Add padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  margin-right: 10px; /* Space between input and button */
}

.header {
  font-size: 2.5em; /* Increased font size */
  color: #f40612;
  margin-bottom: 12px;
  display: flex;
  width: 100%; /* Ensures it takes the full width */
  text-align: left; /* Align text to the left */
  position: relative;
  z-index: 2;
  padding-left: 15rem;
  padding-top: 2rem;
}

.signInBttn {
  background-color: red;
  color: white;
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding for a more button-like appearance */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: flex-start; /* Align items to the top */
  height: 25vh; /* Full height of the viewport */
  padding: 1rem; /* Add some padding */
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

@media (max-width: 768px) {
  .header {
    font-size: 2rem;
  }
  .contentText {
    font-size: 1.2rem;
  }
  .inputButtn {
    width: 80%;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}
